@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,900');

html {
	font-family: 'Roboto', sans-serif;
	color: #FAFAFA;
	background: #043557;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3rem;
}


#landing-page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
	background: no-repeat url("../bg.jpg");
	background-size: cover;
}

#landing-page .intro {
	font-family: 'Roboto', sans-serif;
	font-size: 3.75rem;
	font-weight: 900;
}

#landing-page .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 300;
}

h1 {
	font-weight: 900;
	padding: 1rem 0;
}

p {
	font-weight: 300;
	font-size: 0.9rem;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social i {
	padding: 10px;
}

.icons-social a svg path{
	fill: #FAFAFA;
}

.content {
	max-width: 600px;
}
