body.lighthouse {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: no-repeat url('../../img/lighthouse.jpg');
	background-size: cover;
	background-position: center;
	background-color: #025998;
	color: #FAFAFA;
}

.lighthouse .main-container {
	padding-bottom: 2rem;
}

.lighthouse .headings {
	margin: 1rem 0;
}

.lighthouse .headings__name {
	font-size: 4rem;
	letter-spacing: -0.1rem;
}

.lighthouse .headings__role {
	font-size: 2.5rem;
	letter-spacing: 0.2rem;
}

.lighthouse .links__inner-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.lighthouse .links__cell--has-link {
	color: #FAFAFA99;
	/* animation: lighthouse-shine 8s infinite; */
}

.lighthouse .icon {
	padding: 0.7rem;
	font-size: 2.8rem;
	color: inherit;
	transition: color 0.2s, transform 0.2s, filter 0.2s;
	animation: lighthouse-shine 8s infinite;
}

.lighthouse .icon:hover,
.lighthouse .icon:active {
	transform: translateY(-3px);
}

.lighthouse .icon:hover::before,
.lighthouse .icon:active::before {
	color: #FFF;
	transition: color 0.2s;
}

.lighthouse .fa-github {
	animation-delay: 0.2s;
}
.lighthouse .fa-linkedin {
	animation-delay: 0.4s;
}
.lighthouse .fa-instagram {
	animation-delay: 0.6s;
}
.lighthouse .fa-forward {
	animation-delay: 0.8s;
}

@keyframes lighthouse-shine {
	80% {
		color: inherit;
		filter: none;
	}
	90% {
		color: #FFF;
		filter: drop-shadow(0 0 1rem rgb(255, 255, 255, 0.9))
	}
	100% {
		color: inherit;
		filter: none;
	}
}

@media (max-width: 480px) {
	.lighthouse .main-container {
		padding-bottom: 6rem;
	}
}
