body.lighthouse {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background: no-repeat url('../../img/lighthouse.jpg');
	background-size: cover;
	background-position: center;
	background-color: #025998;
	color: #FAFAFA;
}

.lighthouse .main-container {
	padding-bottom: 3rem;
}

.lighthouse .headings {
	margin: 1rem 0;
}

.lighthouse .headings__name {
	font-size: 4rem;
	letter-spacing: -0.1rem;
}

.lighthouse .headings__role {
	font-size: 2.5rem;
}

.lighthouse .links__inner-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.lighthouse .icon {
	padding: 0.7rem;
	font-size: 2.8rem;
	color: #FAFAFA99;
	transition: transform 0.2s, filter 0.2s;
}

.lighthouse .icon:hover,
.lighthouse .icon:active {
	color: #FAFAFA;
	transform: translateY(-3px);
	filter: drop-shadow(0 0 0.6rem rgb(255, 255, 255, 0.9));
}
