html {
  background: #025998;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: no-repeat url('../../img/lighthouse.jpg');
  background-size: cover;
  background-position: center;
  color: #fafafa;
}

.main-container {
  padding-bottom: 2rem;
}

.headings {
  margin: 1rem 0;
}

.headings__name {
  font-size: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1;
}

.headings__role {
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
}

.links__inner-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.links__cell--has-link {
  color: #fafafa99;
  /* animation: lighthouse-shine 8s infinite; */
}

.icon {
  padding: 0.7rem;
  font-size: 2.8rem;
  color: #fafafa99;
  transition: color 0.2s, transform 0.2s, filter 0.2s;
  animation: lighthouse-shine 8s infinite;
}

.icon:hover,
.icon:active {
  transform: translateY(-3px);
}

.icon::before {
  transition: color 0.2s;
}

.icon:hover::before,
.icon:active::before {
  color: #fff;
}

.fa-github {
  animation-delay: 0.2s;
}
.fa-linkedin {
  animation-delay: 0.4s;
}
.fa-instagram {
  animation-delay: 0.6s;
}
.fa-forward {
  animation-delay: 0.8s;
}

@keyframes lighthouse-shine {
  30% {
    color: #fafafa99;
    filter: none;
  }
  40% {
    color: #fff;
    filter: drop-shadow(0 0 1rem rgb(255, 255, 255, 0.9));
  }
  50% {
    color: #fafafa99;
    filter: none;
  }
}

@media (min-width: 480px) {
  html {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 3.5vw;
  }

  .main-container {
    padding-bottom: 6rem;
  }
}
