@font-face {
  font-family: 'Gill Sans OMD';
  src: url('../fonts/gill-sans-bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'Gill Sans OMD';
  src: url('../fonts/gill-sans-book-italic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Gill Sans OMD';
  src: url('../fonts/gill-sans-mt.ttf') format('opentype');
  font-weight: 400;
}

:root {
  --colors__white: #eee;
  --colors__black: #111;
  --colors__pink: hsl(328, 90%, 60%);
  --colors__omd-orange: #f9ae2b;
  --colors__omd-blue: #0283bb;

  --fg-color: var(--colors__omd-orange);
  --bg-color: var(--colors__omd-blue);
  --link-color: var(--colors__omd-orange);

  --start-angle: 45deg;
  --end-angle: -45deg;

  --hover-on-duration: 0.15s;
  --hover-off-duration: 0.5s;

  --link-hover-filter: brightness(1.5) saturate(0.5)
    drop-shadow(0 0 0.3em rgba(255, 255, 255, 0.5));

  --gravity-bezier: cubic-bezier(0.33, 0, 0.67, 0);
}

html {
  min-height: 100vh;
  display: flex;
  color: var(--fg-color);
  background: var(--bg-color);
  font-family: 'Gill Sans OMD', sans-serif;
}

body {
  margin: auto;
  width: fit-content;
  animation: fade-in 0.3s both 0.2s;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

button {
  cursor: pointer;
}

#headings {
  padding: 0 0.25rem;
  display: flex;
  align-items: flex-start;
  gap: 1em;
}

#my-name {
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

#my-role {
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 300;
  text-transform: lowercase;
  letter-spacing: 0.01em;
}

footer {
  position: fixed;
  bottom: 1rem;
  font-size: 14px;
  text-transform: lowercase;
}

footer a {
  color: var(--link-color);
}
footer a:hover {
  filter: var(--link-hover-filter);
}

/* Padding trick that maintains square aspect ratio */
#grid-container {
  margin: 0.5rem 0 2rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 100%;
  position: relative;
}

.grid {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  height: 100%;
}

.cell {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cell a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.cell a span {
  position: absolute;
  bottom: -0.8em;
  font-family: 'Gill Sans OMD', sans-serif;
  font-size: 18px;
  filter: var(--link-hover-filter);
  opacity: 0;
  transition: opacity var(--hover-off-duration) var(--gravity-bezier);
}
.cell:hover a span {
  opacity: 1;
  transition: opacity var(--hover-on-duration);
}

.cell a::before {
  transform: rotate(var(--start-angle));
  transition: transform var(--hover-off-duration) var(--gravity-bezier),
    filter var(--hover-off-duration) var(--gravity-bezier);
}
.cell:hover a::before {
  transform: rotate(0);
  filter: var(--link-hover-filter);
  transition: transform var(--hover-on-duration),
    filter var(--hover-on-duration);
}

.cell:empty::before {
  content: '';
  position: absolute;
  top: -5%;
  bottom: -5%;
  width: 33%;
  border-radius: 999px;
  background: var(--fg-color);

  transform: rotate(var(--start-angle));
  transition: transform var(--hover-off-duration) var(--gravity-bezier),
    filter var(--hover-off-duration) var(--gravity-bezier),
    width var(--hover-off-duration) var(--gravity-bezier),
    top var(--hover-off-duration) var(--gravity-bezier),
    bottom var(--hover-off-duration) var(--gravity-bezier);
  }

.fab {
  color: var(--link-color);
  font-size: 3.1rem;
}

/* Tweak the sizes of the icons relative to each other */
.fa-linkedin::before { font-size: 0.95em; }



@media (min-width: 992px) {
  html { font-size: 18px; }
}

@media (max-width: 992px), (max-height: 992px) {
  html { font-size: 15px; }
  .cell a span { font-size: 15px; }
}

@media (max-width: 768px), (max-height: 768px) {
  html { font-size: 12px; }
  .fab { font-size: 4rem; }
  .cell a span { font-size: 15px; }

  .row:nth-of-type(6),
  .row:nth-of-type(8),
  .cell:nth-of-type(2),
  .cell:nth-of-type(8) {
    display: none;
  }
}

@media (max-width: 576px), (max-height: 576px) {
  #headings {
    flex-direction: column;
    gap: 0;
  }

  html { font-size: min(3.5vw, 3vh); }
  #my-role { letter-spacing: 0.66rem; }
  .fab { font-size: 3.5rem; }
  .cell a span { font-size: 18px; }

  .row:nth-of-type(3),
  .row:nth-of-type(5),
  .cell:nth-of-type(5),
  .cell:nth-of-type(6) {
    display: none;
  }
}


.cell:empty[class*="rotate-"]::before {
  transition: transform var(--hover-on-duration),
    width var(--hover-on-duration),
    top var(--hover-on-duration),
    bottom var(--hover-on-duration),
    color var(--hover-on-duration);
}

.cell:empty.rotate-n::before { transform: rotate(90deg); }
.cell:empty.rotate-ne::before { transform: rotate(-45deg); }
.cell:empty.rotate-e::before { transform: rotate(0deg); }

/* .cell:empty.rotate-se::before {
  transform: translateY(0%) rotate(90deg);
  width: 10%;
  top: 20%;
  bottom: 20%;
} */

.cell:empty.rotate-s::before {
  transform: translateY(-30%) rotate(90deg);
  width: 2px;
  top: 10%;
  bottom: 10%;
  filter: var(--link-hover-filter);
}

/* .cell:empty.rotate-sw::before {
  transform: translateY(0%) rotate(90deg);
  width: 10%;
  top: 20%;
  bottom: 20%;
} */

.cell:empty.rotate-w::before { transform: rotate(0deg); }
.cell:empty.rotate-nw::before { transform: rotate(45deg); }
